table{
    width:70% ;
    margin: 20px auto;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif; 
}
th,td{
    border: 1px solid #E8E8E8;
    text-align: center;
    padding: 14px;
}

 th{
    font-weight:bold ;
    background: #4CAF50;
    
 }


 tr:nth-child(even){
    background: #f9f9f9;
 }


 tr:nth-child(odd){
    background: #fff;
 }

 tr:hover{
    background: #f2f2f2;
 }